:root {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    --text-primary: #ececec;
    --text-secondary: #b6b6b6;
    --bg-primary: #141418;
    --bg-secondary: rgb(26, 27, 30);
    --bg-third: hsl(240, 9%, 20%);
}

a {
    color: hsl(214, 100%, 70%);
}

body {
    background-color: var(--bg-primary);
    color: var(--text-primary); /* Text color */
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    background-color: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--text-primary);
}

main {
    max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
    padding: 1rem;
    background-color: var(--bg-primary);
}

p, li {
    color: var(--text-secondary);
}

footer {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1rem;
}

nav {
    height: 5.25rem;
    position: relative;
    background-color: var(--bg-secondary);
    z-index: 100;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(44, 46, 51);
	margin-bottom: 120px;
}

nav .logo {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--text-secondary);
	text-decoration: none;
	gap: 16px;
}

nav .nav-area {
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;
}

.nav-area .links {
	padding-top: 20px;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}

.links .nav-secondary {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	justify-content: flex-end;
	gap: 16px;
}

.nav-secondary .link {
	text-decoration: none;
	color: rgb(144, 146, 150);
	font-size: 12px;
	text-transform: uppercase;
	transition: color 100ms ease 0s;
}

.nav-secondary .link:hover {
	color: rgb(255, 255, 255);
}

.links .nav-primary {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	justify-content: flex-end;
	margin-right: -12px;
}

.nav-primary .link {
    transition: all 0.1s ease;
    color: var(--text-secondary);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    border-style: none none solid;
    border-color: currentcolor currentcolor transparent;
}

.nav-primary .current {
    border-color: currentcolor currentcolor rgb(51, 154, 240);
    color: rgb(255, 255, 255);
}
.nav-primary .link:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}