:root {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    --text-primary: #ececec;
    --text-secondary: #b6b6b6;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --bg-third: hsl(240, 9%, 20%);
}

a {
    color: hsl(214, 100%, 70%);
}

body {
    background-color: var(--bg-third);
    color: var(--text-primary); /* Text color */
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    background-color: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--text-primary);
}

main {
    margin-left: 15rem;
    margin-right: 15rem;
    /* margin-top: 8rem; */
    padding: 1rem;
    background-color: var(--bg-primary);
}

p {
    color: var(--text-secondary);
}

header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

footer {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1rem;
}

.navbar {
    width: auto;
    margin-left: 15rem;
    margin-right: 15rem;
    height: 3rem;
    position: relative;
    background-color: var(--bg-secondary);
}

.navbar-nav {
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.nav-link {
    transition: all 0.1s ease;
    color: var(--text-secondary);
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    border-style: none none solid;
    border-color: currentcolor currentcolor transparent;
}

.nav-current {
    border-color: currentcolor currentcolor rgb(51, 154, 240);
}
.nav-link:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav-link:focus {
    border-color: currentcolor currentcolor rgb(51, 154, 240);
}